extends layout

block script
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/chat.js')

block content
  section#chatroom
    div#messages
    form#sendMessage
      input#message(typpe='text', placeholder='Enter yout messsage here')
      input#send(type='button',value='send')
  section#nameform.modal
    div.backdrop
    div.popup
      div.pophead Please enter a nickname
      div.popbody
        form#setName
          input#nickname(type='text')
          input#setname(type='button',value='Set Name')



